footer.footer 
	.section_in 
		.footer_main
			.copyright © Все права защищены, 2023
			.right
				a(href="#") Политика конфиденциальности
				a(href="#" class="brand")
					img(src="i/brand.png", alt="")